#classdetail {
    padding-top: 0;
    min-height: 100vh;

}

.content{
    width: 100%;
}

.picture{
    width: 60%;
}

.detail{
    white-space: pre-wrap;
}

.testcontent{
    border: 1px solid black;
    flex: 1 0 250px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.testcontent p{
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn{
    color: white;
}

.contentbody {
    max-width: 520px !important;
    border-radius: 8px;
    box-shadow: 0 0px 3px 0px #bbb;
    .level-item {
        border-radius: 8px;
        box-shadow: 0 0px 0px 1px #019630;
    }
}