/* class page */
#class {
    position: relative;
    padding-top: 0;
    min-height: 100vh;
}

/* banner with background image */
#class .banner {
    margin-bottom: -45vh;
    width: 100%;
    height: 70vh;
    max-height: 75vw;
    background: url("../images/greenbackground.jpg") 50% no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* set navbar to dark mode */
#class .navbar {
    color: white !important;
    background: #00000070 !important;
    box-shadow: none;
}
#class .new-class-title {
    font-size: 14vw;
    font-style: italic;
    color: #01963060;
}

/* style of each class item */
#class .class-item {
    position: relative;
    transition: all ease-in-out 0.6s;
}

#class .class-item:hover .class-link {
    color: white !important;
    background-color: #019630 !important;
}

#class .class-list .img {
    position: relative;
    width: 35%;
    padding-top: 54%;
    background-color: #efefef;
    transition: all ease-in-out 0.6s;
}

#class .class-list .img-inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.6s;
}

#class .class-desc {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* ! autoprefixer: off */
    -webkit-box-orient: vertical;
}

#class .class-list .class-item .btn {
    border-radius: 0;
}

#class .class-link {
    transition: all ease-in-out 0.6s;
    box-shadow: 0 0px 0px 1px #019630 inset;
}

@media screen and (max-width: 749px) {
    #class .banner {
        margin-bottom: -40vw;
    }
}