/* class detail page */
#classdetail {
    min-height: 100vh;
}

#classdetail .content{
    width: 100%;
}

#classdetail .picture{
    width: 40%;
}

/* use pre-wrap to Automatically line wrap */
#classdetail .detail{
    white-space: pre-wrap;
}

/* set join button to a round button */
#classdetail .join-btn {
    margin: 0 auto;
    width: 8vw;
    height: 8vw;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
}

/* when user already joined, disable the join button */
#classdetail .disabled {
    cursor: not-allowed;
}

/* give the join button an animation */
#classdetail .heart-beat {
    animation: heartBeat 1.4s ease-in-out alternate infinite;
}

/* fixed the height of textarea */
#classdetail #content {
    height: 240px;
    max-height: 240px;
    min-height: 240px;
}

/* user image of comment list */
#classdetail .user-img {
    width: 4vw;
    height: 4vw;
    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;
    background-color: #efefef;
}

/* animation for join button */
@keyframes heartBeat {
    from {
        box-shadow: 0 0 0px 0px #01963090;
    }

    to {
        box-shadow: 0 0 8px 12px #01963064;
    }
}

/* media query for mobile mode */
@media screen and (max-width: 749px) {
    #classdetail .picture {
        margin-left: 0.5rem !important;
        margin-bottom: 0.5rem !important;
        width: 55%;
    }
    #classdetail .adding-area {
        flex-direction: column;
    }
    #classdetail .adding-area button {
        margin-left: 0 !important;
        margin-top: 1rem;
        width: 100%;
    }
}