#indexEdit .class-cover-img {
    width: 15%;
    min-width: 100px;
}

#indexEdit .class-cover-img span {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#indexEdit .class-desc {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* ! autoprefixer: off */
    -webkit-box-orient: vertical;
}

#indexEdit .modal .modal-body {
    height: 70vh;
    min-height: 500px;
    overflow-y: auto;
}