#index {
    padding-top: 0;
    min-height: 100vh;

    .navbar {
        color: white;
        background: #00000070 !important;
        box-shadow: none;
    }

    .flow-container {
        position: absolute;
        column-count: 2;
        column-gap: 2px;
        z-index: -1;
        min-width: 320px;

        .flow-img {
            margin-bottom: 2px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #00000090;
        }
    }

    .banner {
        display: none;
        height: 70vh;

        .swiper {
            position: relative;
            background-color: #efefef;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 2;
                background-color: #00000010;
            }

            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: -1rem;
                    top: -1rem;
                    right: -1rem;
                    bottom: -1rem;
                    border-radius: 50%;
                    background-color: #000000e0;
                    z-index: -1;
                }
            }

            .carousel-inner {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }

            .img {
                position: relative;
                z-index: 1;
                background-color: #efefef;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

            }
        }
    }

    .wrapper {
        position: relative;
        color: white;
        flex: 1;
        overflow: hidden;
    }

    .introduction {
        margin-top: 4rem;
        color: white;
        flex-direction: column;
    }

    .new-classes {
        position: relative;
        .badge {
            transition: all linear .3s;
            &:hover {
                color: white !important;
                background-color: #019630 !important;
            }
        }
        .class-list {
            color: #333;

            .class-item {
                background-color: white;
            }

            .class-desc {
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* ! autoprefixer: off */
                -webkit-box-orient: vertical;
            }

            .reverse {
                flex-direction: row-reverse;
            }

            .img {
                position: relative;
                width: 40%;
                background-color: #efefef;
                padding-top: 30%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                transition: all ease-in-out 0.6s;
                &:hover {
                    box-shadow: 0 0 8px 1px #333;
                }
            }

            .btn {
                border-radius: 0 !important;
                transition: all ease-in-out 0.3s;
                &:hover {
                    box-shadow: 0 0 8px 1px #333;
                }
            }
        }
    }

    .special-offers {
        .special-item {
            &:hover {
                box-shadow: 0 0 8px 1px #333;
                .info {
                    opacity: 1 !important;
                }
            }

            .img {
                position: relative;
                flex: 1;
                height: 100%;
                background-color: #efefef;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                .info {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    opacity: 0;
                    background: #000000bb;
                    transition: all ease-in-out 0.6s;
                }

                .desc {
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    /* ! autoprefixer: off */
                    -webkit-box-orient: vertical;
                }
            }

            .item-link {
                color: white;
            }
        }

        .v-item {
            width: 40%;

            .img {
                width: 100%;
                padding-top: 120%;
            }
        }
    }

    .membership {
        background-color: #ececec;
        .member-item {
            color: #000;
            background-color: white;
            border-radius: 8px;
            transition: all ease-in-out .3s;
            &:hover {
                box-shadow: 0 0 8px 1px #bbb;
                .info-wrap:before {
                    transform: translateY(0);
                }
                .member-desc {
                    color: white;
                }
            }
            
            .member-detail {
                position: relative;
                z-index: 2;
            }

            .member-name {
                border-bottom: 1px solid white;
            }
            .member-desc {
                position: relative;
                z-index: 2;
                transition: all ease-in-out .6s;
            }
            .info-wrap {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: #019630;
                    z-index: 1;
                    transition: all ease-in-out .5s;
                    transform: translateY(-100%);
                }            
            }
            .join-now {
                transition: all linear .3s;
                &:hover {
                    color: white !important;
                    background-color: #019630 !important;
                }
            }
        }
    }

    @media screen and (max-width: 749px) {
        .new-classes {
            .img {
                padding-top: 40% !important;
            }

            .flex-1 {
                margin-left: 1rem !important;
                margin-right: 1rem !important;
            }

            .class-name {
                margin-top: 0.5rem;
                line-height: 1;
            }

            .class-desc {
                margin-bottom: 0.5rem;
                font-size: 1rem !important;
            }

            button {
                font-size: 0.75rem !important;
            }
        }
        .member-list {
            
            flex-direction: column;
            .member-item {
                margin-right: 0 !important;
            }
        }
    }

    @media screen and (min-width: 750px) {
        .banner {
            display: inherit;
        }

        .flow-container {
            display: none;
        }

        .introduction {
            margin-top: 0;
            color: #333;
            flex-direction: inherit;
        }

        .wrapper {
            .new-classes {
                background-color: white;
            }

            .new-class-title,
            .special-offers-title {
                color: #019630;
            }
        }

        .new-classes {
            .class-desc {
                margin-bottom: 2rem;
            }
        }
    }

    @media screen and (min-width: 1024px) {

        .special-offers {
            padding: 0 15vw 2rem !important;
        }

        .new-classes,
        .membership,
        .introduction {
            padding-left: 15vw !important;
            padding-right: 15vw !important;
            padding-bottom: 2rem !important;
        }
    }
}