#index {
    padding-top: 4rem;

    .flow-container {
        position: relative;
        column-count: 2;
        column-gap: 2px;

        .flow-img {
            margin-bottom: 2px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #00000040;
        }
    }

    .wrapper {
        position: absolute;
        top: 4rem;
        left: 0;
        color: white;

        .title {
            padding-bottom: 0 !important;
            list-style: none;
            font-style: italic;
        }
    }

    .new-classes {
        .class-item {
            border: 2px solid white;
            background-color: white;

            .img {
                width: 30%;
                background-color: #efefef;
                padding-top: 30%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

            }

            .class-info {
                flex: 1;
            }

            .class-desc {
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* ! autoprefixer: off */
                -webkit-box-orient: vertical;
            }
        }
    }

    .special-offers {
        .special-item {
            color: #333;
            border: 2px solid white;
            background-color: white;

            .img {
                width: 100%;
                background-color: #efefef;
                padding-top: 75%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

            }

            .desc {
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* ! autoprefixer: off */
                -webkit-box-orient: vertical;
            }
        }
    }
}