/* index page */
#index {
  padding-top: 0;
  min-height: 100vh;
}

/* set navbar to dark mode */
#index .navbar {
  color: white !important;
  background: #00000070 !important;
  box-shadow: none;
}

/* use flow images as banner in mobile mode  */
#index .flow-container {
  position: absolute;
  left: 0;
  top: 0;
  column-count: 2;
  column-gap: 2px;
  z-index: -1;
  min-width: 320px;
}

#index .flow-container .flow-img {
  margin-bottom: 2px;
}

/* give flow container a cover */
#index .flow-container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000c2;
}

/* use a swiper as banner in PC mode */
#index .banner {
  display: none;
  height: 70vh;
}

#index .banner .swiper {
  position: relative;
  background-color: #efefef;
}

#index .banner .swiper::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: #00000010;
}

#index .banner .swiper .carousel-control-prev-icon,
#index .banner .swiper .carousel-control-next-icon {
  position: relative;
}

#index .banner .swiper .carousel-control-prev-icon::before,
#index .banner .swiper .carousel-control-next-icon::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  border-radius: 50%;
  background-color: #000000e0;
  z-index: -1;
}

#index .banner .swiper .carousel-inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#index .banner .swiper .img {
  position: relative;
  z-index: 1;
  background-color: #efefef;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* content wrapper */
#index .wrapper {
  position: relative;
  color: white;
  flex: 1;
  overflow: hidden;
}

/* introduction part */
#index .introduction {
  margin-top: 4rem;
  color: white;
  flex-direction: column;
}

#index .new-classes {
  position: relative;
  background-color: #efefef;
}

/* 'view all' button */
#index .new-classes .badge {
  transition: all linear 0.3s;
}

/* add hover effect */
#index .new-classes .badge:hover {
  color: white !important;
  background-color: #019630 !important;
}

/* zoom-in when hover on the image */
#index .new-classes .class-wrap:hover .img-inner {
  transform: scale(1.2);
}

/* show class introduction text */
#index .new-classes .class-wrap:hover .class-detail {
  opacity: 1 !important;
}

/* class link button */
#index .new-classes .class-wrap:hover .class-link {
  color: white !important;
  background-color: #019630 !important;
}

/* style of class item */
#index .new-classes .class-item {
  position: relative;
  background-color: #ccc;
  transition: all ease-in-out 0.6s;
}

/* sizing, color and transition of img */
#index .new-classes .class-item .img {
  position: relative;
  width: 100%;
  padding-top: 130%;
  background-color: #efefef;
  transition: all ease-in-out 0.6s;
}

#index .new-classes .class-item .img .img-inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.6s;
}

/* put the class detail text in the middle of container */
#index .new-classes .class-item .class-detail {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000000bb;
  transition: all ease-in-out 0.6s;
}

#index .new-classes .class-item .class-desc {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* ! autoprefixer: off */
  -webkit-box-orient: vertical;
}

#index .new-classes .class-link {
  box-shadow: 0 0px 0px 1px #019630 inset;
  transition: all ease-in-out 0.6s;
}

/* style of special offers */
#index .special-offers {
  background-color: white;
}

#index .special-offers .special-item:hover {
  box-shadow: 0 0 8px 1px #333;
}

#index .special-offers .special-item:hover .info {
  opacity: 1 !important;
}

#index .special-offers .special-item .img {
  position: relative;
  flex: 1;
  height: 100%;
  background-color: #efefef;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#index .special-offers .special-item .img .info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  background: #000000bb;
  transition: all ease-in-out 0.6s;
}

#index .special-offers .special-item .img .desc {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* ! autoprefixer: off */
  -webkit-box-orient: vertical;
}

#index .special-offers .special-item .item-link {
  color: white;
}

#index .special-offers .v-item {
  width: 40%;
}

#index .special-offers .v-item .img {
  width: 100%;
  padding-top: 130%;
}

#index .special-offers .v-item .img .desc {
  -webkit-line-clamp: 3;
}

/* style of membership area */
#index .membership {
  position: relative;
  background-color: transparent;
}

#index .membership .member-item {
  color: #000;
  background-color: white;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
  max-width: 360px;
}

#index .membership .member-item:last-child {
  margin-right: 0 !important;
}

#index .membership .member-item:hover .info-wrap:before {
  transform: translateY(0);
}

#index .membership .member-item:hover .member-desc {
  color: white;
}

#index .membership .member-item .member-detail {
  position: relative;
  z-index: 2;
}

#index .membership .member-item .member-name {
  border-bottom: 1px solid white;
}

#index .membership .member-item .member-desc {
  position: relative;
  z-index: 2;
  transition: all ease-in-out 0.6s;
}

#index .membership .member-item .info-wrap {
  position: relative;
}

#index .membership .member-item .info-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #019630;
  z-index: 1;
  transition: all ease-in-out 0.5s;
  transform: translateY(-100%);
}

#index .membership .member-item .join-now {
  transition: all linear 0.3s;
}

#index .membership .member-item .join-now:hover {
  color: white !important;
  background-color: #019630 !important;
}

@media screen and (max-width: 749px) {
  /* mobile mode, hide swiper, show image flow as banner, change the layout */
  #index .introduction-title {
    margin-right: 0 !important;
  }

  #index .new-classes .flex-1 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  #index .class-wrap {
    padding: 0 0.25rem !important;
    margin-bottom: 0.5rem !important;
  }

  #index .new-classes .class-name {
    margin-top: 0.5rem;
    line-height: 1;
  }

  #index .new-classes .class-desc {
    font-size: 1rem !important;
  }

  #index .new-classes button {
    font-size: 0.75rem !important;
  }

  #index .special-item {
    margin-bottom: 0.5rem !important;
  }

  #index .special-item+.special-item {
    margin-bottom: 0 !important;
  }

  #index .v-item {
    margin-right: 0.5rem !important;
    margin-bottom: 0 !important;
  }

  #index .membership {
    background-color: transparent;
  }

  #index .member-list {
    align-items: center;
    flex-direction: column;
  }

  #index .member-list .member-item {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 750px) {
  /* PC mode */
  #index .banner {
    display: inherit;
  }

  #index .wrapper>.flow-container {
    display: none;
  }

  #index .introduction {
    margin-top: 0;
    color: #333;
    flex-direction: inherit;
  }

  #index .wrapper .new-classes {
    background-color: white;
  }

  #index .membership .flow-container {
    column-count: 5;
  }
}

@media screen and (min-width: 1024px) {
  /* wide screen */
  #index .special-offers {
    padding: 0 15vw 2rem !important;
  }

  #index .new-classes,
  #index .membership,
  #index .introduction {
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    padding-bottom: 2rem !important;
  }
}

@media screen and (min-width: 2048px) {
  /* bigger screen */
  #index .membership .flow-container {
    column-count: 7;
  }
}